body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
    background-color: #0b3c5d;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#currentweatherbox {
    border: 1px solid black;
}
#searchbox {
    border: 1px solid black;
}
