body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
    background-color: #0b3c5d;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.btn {
    background-color:#d9f531;
    color:#0b3c5d;
}
.row.content {height: 1500px}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
  }

.card {
    padding-left: 30px;
}

h2 {
    font-size: 30px;
}

#currentweatherbox {
    border: 1px solid black;
}
#searchbox {
    border: 1px solid black;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 1025px) {
    .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: 1000px;} 
    }

@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
  }